body {
  background-color: #F6F6F6;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto auto;
  background-color: #fff;
  width: 70%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addTask {
  display: flex;
  flex-direction: row;
  /* align-self: center;
  align-items: center; */
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#taskText {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  width: 70%;
  border-radius: 8px 0px 0px 8px;
} 

#taskButton {
  color: #fff;
  background-color: #4ab5d3;
  width: 30%;
  border-radius: 0px 8px 8px 0px;

} 